
.profilepic {
    position: absolute;
    left: 68%;
    top: 5%;
    border-radius: 50%;
    border: 2px solid black;
    padding: 0;
    width: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  text-align: center;
  padding: 5%; 
}

.card {
  padding: 5%;
}

nav {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 25px;
    flex-direction: row;
    text-align: center;
    
  }

nav a {
    color: #13293d;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
  }



@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
