
* {
  border-radius: 0 !important;
  border: none !important;
}

.light-font-color {
  color: whitesmoke !important;
}

.colors-start {
  background-color: whitesmoke;
}

.colors-behind {
  background-color: #2A1B3D;
}

.btn-success {
  background-color: #D83F87 !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: 'Russo One', sans-serif;
}

.col {
  vertical-align: top;
  left: 10%;
}

.card-title {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: #2A1B3D;
}

.title {
  font-size: 150px;
  padding: none;
  color: whitesmoke;
  text-align: left !important;
  left: 1%;
  font-family: 'Elsie Swash Caps', cursive;
  display: inline-block;
  position: relative;
}

h2 {
  font-family: 'Russo One', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding: 2%; 
}


nav {
    display: inline-block;
    position: relative;
    top: 25%;
    left: 3%;
    font-size: 25px;
    flex-direction: column;
    padding: none;
}

.card-body {
  display: flex;
  flex-direction: column; 
  bottom: 0px;
}

.about-me {
  left: 3%;
}

button {
  border-radius: 0 !important;
  flex-direction: column;
}

#button-bottom{
  position: absolute;
  bottom: 10px;
  width: 50%;
}

body {
  background-color: #44318D !important;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 12px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column !important;
    }
   .image-details {
      flex-direction: column !important;
    }

    
  }
