
.jumbotron {
  text-align: center;
  padding: 5%; 
}



.carousel-height {
  height: 600px;
  width: 600px;
  align-items: center;
  padding: 5%;
}

.colors-start {
  background-color: whitesmoke;
}

.colors-in-btwn {
  background-color: rgb(86, 145, 179);
  padding: 5%;
  border-color: rgb(31, 79, 107);
}

.colors-behind {
  background-color: rgb(46, 90, 116);
}

.btn-success {
  background-color: rgb(86, 145, 179) !important;
  border-color: whitesmoke !important;
}

.col {
vertical-align: top;
}

h2 {
  text-align: center;
  padding: 2%; 
}


nav {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 25px;
    flex-direction: row;
    text-align: center;
    
  }

nav a {
    color: #13293d;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
  }

body {
  background-color: rgb(131, 176, 202) !important;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
